{% extends "base.html" %} {% block title %}Login{% endblock %} {% block
content%}
<!-- <img src="\templates\wallpaperflare.com_wallpaper.jpg" /> -->
<div class="headss">
  <h1 align="center" style="font-family: Cursive; color: rgb(123, 251, 3)">
    Web Application FireWall Using Machine Learning
  </h1>
  <h3
    align="center"
    style="font-family: Cursive; color: rgb(144, 220, 21); margin: bottom 100px"
  >
    Graduation project by CIC students
  </h3>
</div>
<form class="form form__container" method="POST">
  <h3 class=".form__label" align="center" style="font-family: Cursive">
    Welcome back
  </h3>
  <h4 class=".form__label" align="center" style="font-family: Cursive">
    Login
  </h4>
  <div class="icons">
    <img src="/static/img/logo.png" width="70px" class="icon1" />
    <div class="vl"></div>
    <img src="/static/img/icon4.png" width="70px" class="icon2" />
  </div>
  <div class="form-group form__field form__group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group form__field">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <div class="checkbox">
    <label><input type="checkbox" /> Remember me</label>
    <a href="/sign-up" class="forgot">signUp</a>
  </div>
  <br />
  <button
    type="submit"
    class="btn-success button--form"
    ,
    style="background-color: #4caf50"
  >
    Login
  </button>
</form>
{% endblock %}
